.footer{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: darken(darkgray, 10);
}

.footer-text{
  margin-right: 100px;
}

.footer-icons{
  margin-left: 200px;
}

.footer-logo{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 19px;
  span {
    font-weight: bold;
  }
}